<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Tách giao diện</title>
</head>
<body>
	<div id="header" style="background:#f9d581; height:50px;">
		I am Header!
	</div>
	
	<div id="content" style="background:#57a706; color:#FFF; height:200px; margin:20px 0px">
		<p>I am Cat 1</p>
		<p>I am Cat 2</p>
		<p>I am Cat 3</p>
	</div>
	
	<div id="footer" style="background:#f9a6bf; height:50px;">
		I am Footer!
	</div>
</body>
</html>