<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>VinaENTER EDU - Đã học là làm được</title>
	<meta name="description" content="VinaENTER EDU đào tạo lập trình viên chuyên nghiệp - Đã học là làm được">
	<meta name="keywords" content="dao tao chuyên sâu lap trinh php, java">
	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrapper">
		<!-- begin header -->
		<div id="header">
			<div class="header-left fl">
				<a href="index.php" title=""><img src="images/logo_edu.png" alt="" height="128px" /></a>
			</div>
			<div class="header-right fr">
				<a href="index.php" title=""><img src="images/banner.jpg" alt="" /></a>
			</div>
			<div class="clr"></div>
		</div>
		<!-- end header -->
		
		<!-- begin menu -->
		<div id="menu">
			<ul>
				<li class="active"><a href="index.php" title="">Trang chủ</a></li>
			</ul>
			<div class="clr"></div>
		</div>
		<!-- end menu -->
		
		<!-- end content -->
		<div id="content">
			<div class="content-left fl">
				<h3>Danh mục tin</h3>
				<ul>
					<li><a href="cat.php" title="">Thời sự</a></li>
					<li><a href="cat.php" title="">Góc nhìn</a></li>
					<li><a href="cat.php" title="">Thế giới</a></li>
					<li><a href="cat.php" title="">Kinh doanh</a></li>
				</ul>
			</div>
			<div class="content-right fr">
				<h3>Thời sự</h3>
				<div class="main-content items-new">
					<ul>
						<li>
							<h2>
								<a href="detail.php" title="">Trung Quốc điều thêm 17 tàu đến khu vực giàn khoan</a>
							</h2>
							<div class="item">
								<p>Để bảo vệ giàn khoan, Trung Quốc đã điều thêm 17 tàu các loại so với hôm trước, sẵn sàng đâm va vào tàu Việt Nam.</p>
								<div class="clr"></div>
							</div>
						</li>
						<li>
							<h2>
								<a href="detail.php" title="">Trọng tài - vết đen của kỳ World Cup sôi động </a>
							</h2>
							<div class="item">
								<p>World Cup 2014 chưa đi hết lượt đầu vòng bảng nhưng các trọng tài đẳng cấp FIFA đã có tới bốn trận bị chỉ trích dữ dội.</p>
								<div class="clr"></div>
							</div>
						</li>
						<li>
							<h2>
								<a href="detail.php" title="">Những mỹ nhân Việt duyên dáng ở tuổi tứ tuần</a>
							</h2>
							<div class="item">
								<p>Để bảo vệ giàn khoan, Trung Quốc đã điều thêm 17 tàu các loại so với hôm trước, sẵn sàng đâm va vào tàu Việt Nam.</p>
								<div class="clr"></div>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="clr"></div>
		</div>
		<!-- end content -->
		
		<div id="footer">
			<p>Trung tâm đào tạo Lập trình viên VinaENTER EDU</p>
			<p>Copyright &copy 2016 - Designed by <a href="" title="">VinaENTER</a></p>
		</div>
	</div>
</body>
</html>